body{
    background-color:#b4e6f8;
    background-image:url("../img/logo.png");
    background-repeat:no-repeat;
    background-position:50% -100px;
}

#socialbox{
    margin-top:300px;
    margin-left:auto;
    margin-right:auto;
    width:200px;
    text-align:center;
}



