article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
}
[hidden] {
    display: none;
}
html {
    font-size: 100%;
}
html, button, input, select, textarea {
    color: #222222;
    font-family: sans-serif;
}
body {
    font-size: 1em;
    line-height: 1.4;
    margin: 0;
}
*::-moz-selection {
    background: none repeat scroll 0 0 #EC652E;
    color: #FFFFFF;
    text-shadow: none;
}
a {
    color: #0000EE;
}
a:visited {
    color: #551A8B;
}
a:hover {
    color: #0066EE;
}
a:focus {
    outline: thin dotted;
}
a:hover, a:active {
    outline: 0 none;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: bold;
}
blockquote {
    margin: 1em 40px;
}
dfn {
    font-style: italic;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}
ins {
    background: none repeat scroll 0 0 #FFFF99;
    color: #000000;
    text-decoration: none;
}
mark {
    background: none repeat scroll 0 0 #FFFF00;
    color: #000000;
    font-style: italic;
    font-weight: bold;
}
pre, code, kbd, samp {
    font-family: monospace,serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: none;
}
q:before, q:after {
    content: none;
}
small {
    font-size: 85%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
ul, ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}
dd {
    margin: 0 0 0 40px;
}
nav ul, nav ol {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
img {
    border: 0 none;
    vertical-align: middle;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
form {
    margin: 0;
}
fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}
label {
    cursor: pointer;
}
legend {
    border: 0 none;
    padding: 0;
    white-space: normal;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}
button, input {
    line-height: normal;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button[disabled], input[disabled] {
    cursor: default;
}
input[type="checkbox"], input[type="radio"] {
    padding: 0;
}
input[type="search"] {
    -moz-box-sizing: content-box;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
textarea {
    overflow: auto;
    resize: vertical;
    vertical-align: top;
}
input:invalid, textarea:invalid {
    background-color: #F0DDDD;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td {
    vertical-align: top;
}
.chromeframe {
    background: none repeat scroll 0 0 #CCCCCC;
    color: black;
    margin: 0.2em 0;
    padding: 0.2em 0;
}
.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0 none;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}
.ir br {
    display: none;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
}
* {
    background: url("./img/bgpattern.jpg") repeat scroll left top transparent;;
    box-shadow: none !important;
    color: black !important;
    filter: none !important;
    text-shadow: none !important;
}
a, a:visited {
    text-decoration: underline;
}
 content: " (" attr(href) ")";
}
abbr[title]:after {
    content: " (" attr(title) ")";
}
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
}
pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
}
thead {
    display: table-header-group;
}
tr, img {
    page-break-inside: avoid;
}
img {
    max-width: 100% !important;
}
p, h2, h3 {
    orphans: 3;
    widows: 3;
}
h2, h3 {
    page-break-after: avoid;
}
.clear {
    clear: both;
    display: block;
    visibility: hidden;
}
.hide {
    display: none !important;
}
.hide-text {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.center-text {
    text-align: center;
}
.clear {
    clear: both;
    display: block;
    visibility: hidden;
}
.hide {
    display: none !important;
}
.hide-text {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.center-text {
    text-align: center;
}
body {
    background: url("./img/bgpattern.jpg") repeat scroll left top transparent;
    color: #51514F;
    font-family: 'Open Sans',sans-serif;
}
#content {
    margin-top: 180px;
    position: absolute;
    right: 14%;
    width: 515px;
}
#content h1 {
    background: url("./img/logo.png") no-repeat scroll left top transparent;
    height: 70px;
    margin-bottom: 25px;
    width: 281px;
}
#content h2 {
    font-size: 42px;
    font-weight: 300;
    line-height: 1.3em;
    margin: 0 0 60px;
}
#content form {
    float: left;
    margin-right: 30px;
}
#content .wrap {
    position: relative;
    width: 320px;
}
#content label {
    display: block;
    margin-bottom: 10px;
}
#content input[type="email"] {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 3px solid #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    font-size: 14px;
    padding: 10px;
    width: 240px;
}
#content input[type="email"]:focus {
    outline: medium none;
}
#content input[type="submit"] {
    background: none repeat scroll 0 0 #51514F;
    border: medium none;
    border-radius: 20px 20px 20px 20px;
    color: #FFFFFF;
    padding: 12px 25px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}
#content .social {
    float: left;
    margin-top: 35px;
}
#content .social a {
    display: table-cell;
    float: left;
    text-decoration: none;
    vertical-align: bottom;
}
#content .social img {
    margin-right: 10px;
}
#content strong {
    display: block;
    padding-top: 40px;
}
body {
    margin: 10px;
    text-align: center;
}
#content {
    position: static;
    width: auto;
}
#content h1 {
    background: url("./img/logo.png") no-repeat scroll left top transparent;
    height: 70px;
    margin: 30px auto 5px;
    width: 281px;
}
#content form {
    float: none;
    margin: 0;
}
#content .wrap {
    margin: 0 auto;
    width: 300px;
}
#content input[type="email"] {
    width: 275px;
}
#content .social {
    float: none;
    margin-top: 30px;
}
#content .social a {
    display: inline;
    float: none;
}
#content .social img {
    width: 30px;
}
#content strong {
    padding: 0;
}
#weird {
    height: 726px;
    left: 10%;
    position: absolute;
    top: -726px;
    width: 325px;
}
#weird #hand {
    background: url("./img/weirdhand.png") no-repeat scroll left top transparent;
    height: 726px;
    position: absolute;
    width: 325px;
    z-index: 10;
}
#weird #cornea {
    background: url("./img/cornea.jpg") repeat scroll left top transparent;
    bottom: 140px;
    height: 150px;
    left: 80px;
    position: absolute;
    width: 150px;
    z-index: 5;
}
#weird #cornea #eyeball {
    background: url("./img/eyeball.png") repeat scroll left top transparent;
    height: 70px;
    left: 29%;
    position: absolute;
    top: 22%;
    width: 70px;
}
#conveyorbelt {
    background: url("./img/conveyorbelt.png") no-repeat scroll left top transparent;
    bottom: -15px;
    height: 311px;
    left: 5%;
    position: absolute;
    width: 702px;
    z-index: -5;
}
#content {
    margin: 0 auto;
    position: static;
}
#weird, #conveyorbelt {
    display: none !important;
}
#conveyorbelt {
    display: none !important;
}
#nav {
    clear: both;
    margin: 0;
    padding: 0;
}
#nav ul {
    list-style-type: none;
    margin: 47px 0 0 2px;
    padding: 0;
}
#nav ul li {
    display: inline-block;
    float: left;
    margin: 0 28px 0 0;
}
#nav ul li a {
    color: #EC652E;
    font-family: 'HelveticaNeue',Helvetica,sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}
#nav ul li a:hover {
    text-decoration: underline;
}
